{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!
{% endblock %}

{% block body %}
	{# <pre> {{dump(categoryList)}};
    {% for category in categoryList %}
        {% for movie in category.movies %}
            <pre>
                {{ dump(movie) }}
            </pre>
        {% endfor %}
    {% endfor %}
</pre> #}
	<div class="container">
		<div class="row">
			{% for category in categoryList %}
				<div class="col-4">
					<div class="card text-black bg-light mb-3" style="max-width: 18rem;">
						<div class="card-header">{{category.title}}</div>
						<div class="card-body">
							<h5 class="card-title">{{category.title}}</h5>
							<a class="btn btn-primary" href="/categorie/{{category.slug}}">{{category.slug}}</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
